<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
    <link rel="stylesheet" href="/css/customStyle.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>
<body>

<div layout:fragment="content">
    <div class="header border-bottom"><h1 class="h2">Shopping List</h1></div>
    <div th:if="${addedElement}" class="alert alert-primary" role="alert">
        <p th:text="#{list.added}"></p>
    </div>
    <div th:if="${duplicatedElement}" class="alert alert-warning" role="alert">
        <p th:text="#{list.duplicated}"></p>
    </div>
    <div th:if="${detailListEmpty}" class="alert alert-warning" role="alert">
        <p th:text="#{list.duplicated}"></p>
    </div>
    <div th:if="${deletedElement}" class="alert alert-info" role="alert">
        <p th:text="#{list.deleted}"></p>
    </div>

    <div class="formStyle card">
        <div class="card-body">
            <!--            <h5 class="card-title">Item</h5>-->
            <form method="post" action="/view/list/register">
                <br/>
                <div>
                    <label for="listName" class="col-sm-2 col-form-label">List Name</label>
                    <input id="listName" type="text" class="form-control"
                           placeholder="Enter List Name" name="listName">
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="formStyle card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">Selected Items</h5>
                </div>
                <div class="col" style="text-align: right;">
                    <h5>Total</h5>
                    <p th:text="${total}"></p>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detail : ${listDetailAdded}">
                    <td th:text="${detail.item.name}"></td>
                    <td th:text="${detail.item.itemCategory.description}"></td>
                    <td th:text="${detail.item.price}"></td>
                    <td th:text="${detail.amount}"></td>
                    <td th:text="${detail.total}"></td>
                    <form th:object="${detail}" method="post" action="/view/list/deleteDetail">
                        <input type="hidden" id="itemIdDelete" name="itemIdDelete" th:value="${detail.item.id}"/>
                        <td>
                            <button id="deleteItem" type="submit" class="btn btn-danger">Delete</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="formStyle card">
        <div class="card-body">
            <h5 class="card-title">Select Items</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="detail : ${listDetailToAdd}">
                    <td th:text="${detail.item.name}"></td>
                    <td th:text="${detail.item.itemCategory.description}"></td>
                    <td th:text="${detail.item.price}"></td>
                    <form th:object="${detail}" method="post" action="/view/list/addDetail">
                        <td><input type="text" placeholder="amount" name="amountDetail"></td>
                        <input type="hidden" id="itemIdAdd" name="itemIdAdd" th:value="${detail.item.id}"/>
                        <td>
                            <button id="addItem" type="submit" class="btn btn-info">Add</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>